<section class="bg-secondary pt-xl-8 pb-0">

    <div class="container position-relative pt-4 pt-sm-5">
        <div class="row g-4">
            <div class="col-lg-5">

                <nav class="mb-2" aria-label="breadcrumb">
                    <ol class="breadcrumb pt-0">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item"><a  [routerLink]="[]">Portfolio</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Portfolio case studies</li>
                    </ol>
                </nav>

                <h1 class="mb-0">Brand Identity Development</h1>
            </div>
            <div class="col-lg-4 ms-auto">
                <div class="row g-3 g-sm-4">
                    @for (item of details; track $index) {
                    <div class="col-sm-6 col-md-3 col-lg-6">
                        <small>{{ item.label }}</small>
                        <p class="heading-color fw-semibold mt-1 mb-0">{{ item.value }}</p>
                    </div>
                    }
                </div>


                <a  [routerLink]="[]" class="btn btn-sm btn-white-shadow mb-0 mt-4">View project website<i class="bi bi-box-arrow-up-right ms-2"></i></a>
            </div>
        </div>
    </div>
    <div class="h-400px h-md-600px mt-6" style="background:url(assets/images/portfolio/03.jpg) no-repeat; background-size:cover; background-position:center;">
    </div>
</section>