<section class="price-wrap overflow-hidden pt-0">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 position-relative">
                <div class="position-absolute end-0 top-0 me-xl-n4 z-index-2 d-none d-sm-block">
                    <img src="assets/images/elements/money-hand.png" alt="decoration">
                </div>
                <div class="inner-container-small ms-0 mb-4 mb-lg-6">
                    <h2 class="mb-sm-4">Affordable solutions for every budget</h2>
                    <p>Need guidance?
                        <a href="#" class="link-purple hover-underline-animation">Reserve a 20-minute call</a>
                    </p>
                </div>
                <form class="d-flex align-items-center mb-4">
                    <span class="fw-semibold">Monthly</span>
                    <div class="form-check form-switch form-check-lg mx-2 mb-0">
                        <input class="form-check-input mt-0 price-toggle" type="checkbox" (change)="togglePrice()">
                    </div>
                    <div class="position-relative">
                        <span class="fw-semibold">Yearly</span>
                        <span class="badge bg-success">10% save</span>
                    </div>
                </form>
                <ul class="nav nav-pills-secondary nav-responsive gap-3 gap-xxl-4" role="tablist">
                    @for (plan of plans;track $index) {
                    <li class="nav-item col" role="presentation" style="min-width: 14rem;">
                        <a class="nav-link p-4 rounded-4" [class.active]="plan === plans[0]" data-bs-toggle="tab" href="#{{plan.id}}-pane" role="tab" aria-selected="false">
                            <div class="icon-lg bg-body shadow-primary rounded-circle mb-3">
                                <img [src]="plan.icon" class="h-40px" alt="{{plan.name}}">
                            </div>
                            <p class="heading-color fw-semibold mb-3">{{ plan.name }}</p>
                            <span class="price-text">
                                <span class="h2 plan-price fw-bold">${{ getPrice(plan) }}</span> /{{ getPriceLabel() }}
                            </span>
                        </a>
                    </li>
                    }
                </ul>
            </div>
            <div class="col-xl-4 mt-5 mt-xl-0">
                <div class="tab-content" data-bs-theme="dark">
                    @for (plan of plans; track $index) {
                    <div class="tab-pane fade" [class.show]="plan === plans[0]" [class.active]="plan === plans[0]" id="{{plan.id}}-pane" role="tabpanel">


                        <div class="card bg-dark p-4 p-sm-5 rounded-4">
                            <div class="card-body p-0">
                                <h5 class="mb-3">Included features</h5>
                                <ul class="list-group list-group-borderless mb-4">
                                    @for (feature of plan.features;track $index) {
                                    <li class="list-group-item d-flex heading-color mb-0">
                                        <i class="bi bi-check-lg text-success me-1"></i>{{ feature }}
                                    </li>
                                    }
                                </ul>
                            </div>
                            <div class="card-footer bg-transparent text-center mt-0 mt-xl-6 p-0">
                                <a [routerLink]="[]" class="btn btn-primary w-100 mb-2">Get started</a>
                                <p class="mb-0"><a [routerLink]="[]" class="link-white hover-underline-animation">View comparison table</a></p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            </div>

        </div>
    </div>
</section>