<section class="position-relative overflow-hidden pt-xl-9 pb-0">
	<div class="position-absolute top-0 end-0 mt-8 me-n5">
		<img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-9 opacity-2" alt="Grad shape">
	</div>

	<div class="position-absolute mx-xl-5 ms-xxl-9 mt-8 rotate-335 d-none d-xl-block">
		<img src="assets/images/elements/weather-info.png" alt="weather-info">
	</div>
	<div class="inner-container text-center align-items-center mt-5 mb-8">
		<h1 class="display-5 mb-4">Smart technology on your wrist</h1>
		<p class="w-75 mx-auto mb-4">Discover the perfect blend of style and technology. Stay connected, track your health, and elevate your everyday life.</p>
			<a  [routerLink]="[]" class="btn btn-primary mb-0">Explore collections</a>
	</div>

	<div class="bg-secondary-grad position-relative">
		<span>
			<svg class="position-absolute top-0 start-0" viewBox="0 0 1921 209" style="enable-background:new 0 0 1921 209;" xml:space="preserve">
				<path class="fill-body" d="M1920.5,209C1092.5-17.8,295.2,114.5,0,209V0h1920.5V209z"/>
			</svg>
		</span>
		<div class="container position-relative">
			<div class="position-absolute top-0 end-0 ms-n6 mt-n9 d-none d-sm-block">
				<img src="assets/images/elements/call-notif.png" alt="decoration">
			</div>
			<img src="assets/images/product/digital-watch-hero.png" class="mt-n6 mt-md-n8" alt="digital watch image">
		</div>
	</div>
</section>