<section class="bg-secondary position-relative pt-xl-8">


	<div class="position-absolute top-0 start-0 mt-n9 ms-n5">
		<img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-7 opacity-2" alt="Grad shape">
	</div>


	<div class="position-absolute top-0 start-50 mt-n9 ms-n9">
		<img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-8 opacity-1" alt="Grad shape">
	</div>


	<div class="container position-relative pt-4 pt-sm-5">


		<div class="position-absolute top-50 start-0 translate-middle mt-5">
			<img src="assets/images/elements/clay-decoration.png" alt="Clay-decoration">
		</div>


		<div class="inner-container text-center align-items-center mb-5 mb-md-7">

			<nav class="mb-2 justify-content-center d-flex" aria-label="breadcrumb">
				<ol class="breadcrumb pt-0">
					<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">About us</li>
				</ol>
			</nav>


			<h1 class="display-5 mb-4">Elevating <span class="text-primary-grad">Brands</span> with Distinctive Visuals</h1>


			<div class="d-md-flex justify-content-center align-items-center py-2">
				<a routerLink="/services-grid" class="btn btn-white-shadow mb-4 mb-md-0">Explore our services</a>

				<lightgallery [settings]="setting" class="d-flex align-items-center justify-content-center text-start ms-0 ms-md-4">
					<a data-glightbox data-gallery="office-tour" href="https://www.youtube.com/embed/tXHviS-4ygo" class="btn btn-lg btn-round btn-dark mb-0 flex-shrink-0 stretched-link">
						<i class="bi bi-play-fill fs-5"></i>
					</a>

					<p class="mb-0 ms-3 heading-color" style="max-width: 13rem;">Learn about our journey and growth</p>
				</lightgallery>
			</div>
		</div>



		<div class="row position-relative g-4 g-lg-5">

			@for (item of about; track $index) {
			<div class="col-sm-6 col-xl-3">
				<div class="card bg-body bg-opacity-50 bg-blur rounded-4 h-100 p-3">

					<div class="card-header bg-transparent mb-4 mb-sm-6">
						<p class="heading-color">{{item.headerText}}</p>
					</div>

					<div class="card-footer bg-transparent d-flex mt-auto">
						@if(item.arrow){
						<span class="text-success mb-0"><i class="bi bi-arrow-up"></i></span>

						}
						<h4 class="purecounter h2 mb-0" [countUp]="item.counterEnd" data-purecounter-end="3500" data-purecounter-delay="300">0</h4>
						<span class="h2 text-primary mb-0">{{item.footerText}}</span>
					</div>
				</div>
			</div>
			}

		</div>

	</div>
</section>