<section class="pt-0">
	<div class="container">
		<div class="row g-4">

			<div class="col-lg-6 pe-lg-5">
				<img src="assets/images/about/16.jpg" class="rounded-4" alt="portfolio-img">
			</div>
			<div class="col-lg-6">

				<h2 class="mb-4">Say hi by filling out the form below</h2>
				<form class="row form-border-bottom g-3">
					<div class="col-12">
						<div class="position-relative">
							<input type="text" class="form-control" placeholder="What's Your good name?" >
							<span class="focus-border"></span>
							<span class="position-absolute top-50 end-0 translate-middle-y"><i class="bi bi-emoji-smile"></i></span>
						</div>
					</div>
					<div class="col-12">
						<div class="position-relative">
							<input type="email" class="form-control" placeholder="Enter your email address" required="">
							<span class="focus-border"></span>
							<span class="position-absolute top-50 end-0 translate-middle-y"><i class="bi bi-envelope"></i></span>
						</div>
					</div>
					<div class="col-12">
						<div class="position-relative">
							<textarea class="form-control" id="floatingTextarea2" style="height: 100px" placeholder="Describe about your project"></textarea>
							<span class="focus-border"></span>
							<span class="position-absolute top-0 end-0"><i class="bi bi-chat-square-dots"></i></span>
						</div>
					</div>
					<div class="col-12 mt-4">
						<button class="btn btn-primary-grad mb-0">Send a message</button>
					</div>
				</form>
				<div class="d-sm-flex gap-5 mt-5">
					<div class="d-flex gap-2 mb-4">
						<div class="heading-color lead"><i class="bi bi-telephone"></i></div>
						<div>
							<p class="heading-color fw-semibold mb-0">Call me:</p>
							<ul class="list-group list-group-borderless mb-0">
								<li class="list-group-item pb-0"> <a  [routerLink]="[]" class="text-primary-hover">+(251) 854-6308</a></li>
								<li class="list-group-item pb-0"> <a  [routerLink]="[]" class="text-primary-hover">+(469) 537-2410</a></li>
							</ul>
						</div>
					</div>
					<div class="d-flex gap-2 mb-4">
						<div class="heading-color lead"><i class="bi bi-envelope"></i></div>
						<div>
							<p class="heading-color fw-semibold mb-0">E-mail:</p>
							<ul class="list-group list-group-borderless mb-0">
								<li class="list-group-item pb-0"> <a  [routerLink]="[]" class="text-primary-hover">example&#64;gmail.com</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>