
<section class="pt-6 pt-sm-5">
    <div class="container">
        <div class="bg-secondary-grad position-relative rounded-3 overflow-hidden p-4 p-sm-6">
            <div class="position-absolute end-0 top-0 rotate-343 mt-n5 me-7 d-none d-sm-block">
                <img src="assets/images/elements/geo-grad-pattern.svg" class="h-500px opacity-3" alt="bg pattern">
            </div>
            <div class="position-absolute start-0 top-0 rotate-343 mt-n5 ms-n8">
                <img src="assets/images/elements/geo-grad-pattern.svg" class="h-300px opacity-1" alt="bg pattern">
            </div>

            <div class="row g-4 align-items-center position-relative">
                        <div class="col-xl-6">
                    <h2>Ready to bring your <span class="text-primary-grad">vision</span> into life?</h2>
                    <ul class="list-inline d-flex flex-wrap gap-2 mb-0 mt-3">
                        <li class="list-inline-item heading-color"> <i
                                class="bi bi-check-circle text-success me-1"></i>No Credit Card Required
                        </li>
                        <li class="list-inline-item heading-color"> <i
                                class="bi bi-check-circle text-success me-1"></i>14 days free trial</li>
                    </ul>
                </div>

                
                <div class="col-xl-6 text-xl-end">
                    <a routerLink="/contact-us" class="btn btn-dark mb-0">Let's work together</a>
                </div>
            </div>
        </div>
    </div>
</section>