<section class="position-relative pt-sm-8 pt-lg-9 pb-0 overflow-hidden">
	<div class="position-absolute top-0 end-0 z-index-2 mt-7 me-n9 d-none d-md-block">
		<img src="assets/images/elements/grad-shape/05.png" class="rotate-180" alt="">
	</div>


	<div class="position-absolute top-0 start-0 ms-n4 mt-7">
		<img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-7 opacity-1" alt="Grad shape">
	</div>

	<div class="container position-relative z-index-2 pt-4 pb-5 pb-lg-8">

		<nav class="mb-2" aria-label="breadcrumb">
			<ol class="breadcrumb pt-0">
				<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">About us</li>
			</ol>
		</nav>


		<h1>Building a Better</h1>
		<h6 class="display-1"><span class="text-primary">Future</span> Together</h6>


		<div class="d-lg-flex justify-content-end align-items-start gap-3 mt-4 mt-sm-5">
			<p class="inner-container-small border-purple border-2 border-start mx-0 ps-2">With a rich history of innovation and creativity, our team is dedicated to transforming ideas into visual masterpieces. Join us on our journey as we continue to push the boundaries of design and deliver excellence in every project we undertake.</p>
			<a class="btn btn-light icon-link icon-link-hover mt-2" routerLink="/team">Meet our team<i class="bi bi-arrow-right"></i> </a>
		</div>
	</div>


	<div class="bg-secondary-grad position-relative pb-5 pb-lg-8 px-2 px-md-5">
		<div class="bg-body blur-5 h-300px w-100 position-absolute top-0 start-0 mt-n5"></div>

		<div class="h-300px h-md-500px h-xl-700px z-index-2 position-relative rounded-4" style="background:url(assets/images/bg/03.jpg) no-repeat; background-size:cover; background-position:top;"> </div>
	</div>
</section>