<section class="py-0 position-relative">
    <div class="position-absolute end-0 bottom-0 me-lg-7 mb-n7 z-index-2 d-none d-md-block">
        <img src="assets/images/elements/ai-robot-2.png" class="aos h-300px" data-aos="fade-left" data-aos-delay="100" data-aos-duration="800" data-aos-easing="ease-in-out" alt="robot image">
    </div>

    <div class="bg-dark position-relative overflow-hidden py-8">
        <div class="position-absolute top-0 start-0 mt-n9">
            <img src="assets/images/elements/ai-pattern.png" class="mt-n7" alt="">
        </div>
        <div class="position-absolute top-0 start-0 mt-n3">
            <svg class="fill-body" width="1920" height="146" viewBox="0 0 1920 146" xmlns="http://www.w3.org/2000/svg">
                <path d="M1457.5 123.815C1692.5 141 1811.59 85.4373 1920 50.5V3L0 0.5V23.4269V141C56.3835 103.114 283.285 126.587 439.5 141C607.5 156.5 776.5 126.673 873.5 108.5C1087 68.5 1255.23 109.024 1457.5 123.815Z" />
            </svg>
        </div>
        <div class="position-absolute bottom-0 end-0 mb-n8 me-n9">
            <img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-2 blur-9" alt="Grad shape">
        </div>

        <div class="container position-relative pt-5 pt-sm-8" data-bs-theme="dark">
            <div class="row">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h2 class="mb-3 mb-lg-4">AI solutions for every business</h2>
                    <p class="mb-3 mb-lg-4">Discover our AI services designed to optimize operations, enhance decisions,
                        and drive growth.</p>
                    <a routerLink="/service-list" class="btn btn-primary">Explore all services</a>
                </div>
                <div class="col-lg-7 ms-auto hover-opacity-fade">
                    @for (service of servicesData; track service.title) {
                    <div class="hover-item d-flex align-items-center border-bottom position-relative py-4">
                        <img [src]="service.icon" class="me-3" alt="service icon">
                        <h6 class="mb-0">{{ service.title }}</h6>
                        <a [routerLink]="service.link" class="icon-link icon-link-hover text-body stretched-link ms-auto">
                            <i class="bi bi-arrow-right fs-5"></i>
                        </a>
                    </div>
                    }
                </div>


            </div>

            <div class="inner-container text-center mt-8">
                <h4>AI technologies and tools we utilize</h4>
                <ul class="list-inline d-flex justify-content-center flex-wrap gap-4 my-5 my-lg-6">
                    @for (item of service; track $index) {
                    <li class="list-inline-item me-0">
                        <a  [routerLink]="[]" class="icon-xl btn-transition bg-white border border-white border-opacity-10 d-flex justify-content-center align-items-center rounded-2" style="--bs-bg-opacity:0.05">
                            <img [src]="item.src" class="h-40px" [alt]="item.alt">
                        </a>
                    </li>
                    }
                </ul>

                <a class="btn btn-outline-secondary icon-link icon-link-hover"  [routerLink]="[]">Uncover our AI capabilities<i class="bi bi-arrow-right"></i> </a>
            </div>
        </div>
    </div>
</section>