<section class="pt-0">
    <div class="container">
        <div class="row g-4">
            <div class="col-sm-8 col-lg-5">
				<h3 class="mb-0 text-center text-sm-start">Our latest insights</h3>
            </div>
            <div class="col-sm-4 col-lg-5 ms-auto">
                <div class="d-flex justify-content-center justify-content-sm-end gap-3 position-relative mt-3">
                    <a  [routerLink]="[]" class="btn btn-secondary btn-lg btn-icon rounded-circle mb-0 swiper-button-prev">
                        <i class="bi bi-arrow-left"></i>
                    </a>
                    <a  [routerLink]="[]" class="btn btn-secondary btn-lg btn-icon rounded-circle mb-0 swiper-button-next">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="swiper mt-0">
                <swiper-container class="swiper-wrapper" [config]="swiperConfig" init="false">
                    @for (blog of blogs; track $index) {
                    <swiper-slide class="swiper-slide py-4">
                        <article class="card card-img-scale shadow-sm rounded-4 overflow-hidden h-100">
                            <div class="card-img-scale-wrapper">
                                <img [src]="blog.image" class="card-img-top img-scale" alt="Blog-img">
                            </div>
                            <div class="card-body pb-2">
                                <h6 class="card-title"><a  [routerLink]="[]">{{ blog.title }}</a></h6>
                                <p class="mb-0">{{ blog.description }}</p>
                            </div>
                            <div class="card-footer pt-0">
                                <a class="icon-link icon-link-hover stretched-link" [routerLink]="blog.link">Read more<i
                                        class="bi bi-arrow-right"></i></a>
                            </div>
                        </article>
                    </swiper-slide>}
                </swiper-container>
            </div>
        </div>
    </div>
</section>