<section class="pt-0">
	<div class="container">
		<lightgallery [settings]="setting" class="row row-cols-2 row-cols-md-4 g-lg-5 align-items-center">

			<div class="col">
				<div class="card card-content-hover overflow-hidden">
					<img src="assets/images/career/01.jpg" class="rounded-4" alt="course image">
					<a class="hover-content position-absolute w-100 h-100" data-glightbox data-gallery="gallery" href="assets/images/career/01.jpg">
						<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-3 p-2 lh-1"></i>
					</a>
				</div>
			</div>
			<div class="col">
				<div class="card card-content-hover overflow-hidden mb-5">
					<img src="assets/images/career/02.jpg" class="rounded-4" alt="course image">
					<a class="hover-content position-absolute w-100 h-100" data-glightbox data-gallery="gallery" href="assets/images/career/02.jpg">
						<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-3 p-2 lh-1"></i>
					</a>
				</div>
				<div class="card card-content-hover overflow-hidden">
					<img src="assets/images/career/03.jpg" class="rounded-4" alt="course image">
					<a class="hover-content position-absolute w-100 h-100" data-glightbox data-gallery="gallery" href="assets/images/career/03.jpg">
						<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-3 p-2 lh-1"></i>
					</a>
				</div>
			</div>
			<div class="col">
				<div class="card card-content-hover overflow-hidden mb-5">
					<img src="assets/images/career/05.jpg" class="rounded-4" alt="course image">
					<a class="hover-content position-absolute w-100 h-100" data-glightbox data-gallery="gallery" href="assets/images/career/05.jpg">
						<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-3 p-2 lh-1"></i>
					</a>
				</div>

				<div class="card card-content-hover overflow-hidden">
					<img src="assets/images/career/04.jpg" class="rounded-4" alt="course image">
					<a class="hover-content position-absolute w-100 h-100" data-glightbox data-gallery="gallery" href="assets/images/career/04.jpg">
						<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-3 p-2 lh-1"></i>
					</a>
				</div>
			</div>
			<div class="col">
				<div class="card card-content-hover overflow-hidden">
					<img src="assets/images/career/06.jpg" class="rounded-4" alt="course image">
					<a class="hover-content position-absolute w-100 h-100" data-glightbox data-gallery="gallery" href="assets/images/career/06.jpg">
						<i class="bi bi-fullscreen fs-6 text-white position-absolute top-50 start-50 translate-middle bg-dark rounded-3 p-2 lh-1"></i>
					</a>
				</div>
			</div>
		</lightgallery>
	</div>
</section>