
<section class="overflow-hidden pt-6 pt-sm-7 pb-0">
    <div class="position-relative pb-8 pt-3 pt-sm-6 py-xl-9"
        style="background:url(assets/images/bg/04.jpg) no-repeat; background-size:cover; background-position:top;">
        <div class="bg-overlay bg-dark opacity-6"></div>
        <div class="container position-relative z-index-2 py-3">
            <div class="row align-items-center">
                <div class="col-sm-11 col-lg-6">
                    <h1 class="text-white display-6 my-4">Empowering Your <span class="fw-light">Financial</span> Future
                    </h1>
                    <p class="text-white lead mb-4 mb-sm-5">Our team is dedicated to helping you achieve your financial
                        goals with confidence and clarity.</p>
                    <a class="btn btn-primary-grad icon-link icon-link-hover mb-0"  [routerLink]="[]">Get started today<i
                            class="bi bi-arrow-right"></i> </a>
                </div>
            </div>
        </div>
    </div>
</section>