<section class="position-relative z-index-2 py-0">
	<div class="container-fluid position-relative">
		<div class="max-width-1550 bg-secondary bg-opacity-50 position-relative rounded-4 overflow-hidden px-3 py-4 py-sm-6 py-lg-8">

			<div class="position-absolute top-0 end-0 mt-n6">
				<img src="assets/images/elements/grad-shape/blur-decoration.svg" class="rotate-270 blur-8 opacity-2" alt="Grad shape">
			</div>

			<div class="container">
				<div class="row g-4">
					<div class="col-lg-7">
						<span class="text-primary-grad fw-semibold">About me</span>
						<h2 class="my-3">I’ve been developing websites since 2009</h2>
						<p class="mb-4">I’m passionate about web development and UI design, specializing in creating visually stunning and highly functional digital experiences. My journey since 2009 has equipped me with a diverse skill set to deliver tailored solutions for my clients.</p>
						<ul class="list-inline d-flex flex-wrap gap-2 align-items-center mb-0">
							<li class="list-inline-item heading-color fw-semibold me-sm-3">
								Follow me on:
							</li>
							@for (link of socialLinks; track $index) {
							<li class="list-inline-item">
								<a class="btn btn-sm {{ link.class }} mb-0" [routerLink]="link.link">
									<i class="{{ link.icon }}"></i> {{ link.name }}
								</a>
							</li>
							}
						</ul>
					</div>

					<div class="col-lg-4 ms-auto">
						<div class="row">
							@for (item of counters; track $index) {
							<div class="{{ item.colClass }}">
								<div class="d-flex mb-2">
									<h4 class="purecounter {{ item.displayClass }} mb-0" data-purecounter-start="0" [countUp]="item.count" data-purecounter-delay="300">
										0
									</h4>
									<span class="{{ item.displayClass }} text-primary mb-0">{{ item.suffix }}</span>
								</div>
								<p class="heading-color pb-3">{{ item.text }}</p>
							</div>
							}
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>