
<section class="bg-secondary-grad position-relative overflow-hidden pt-sm-8 pt-lg-9 pb-5">
    <span class="position-absolute bottom-0 start-0">
        <svg class="fill-body" width="1920" height="254" viewBox="0 0 1920 254" fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path
                d="M556.048 176.63C371.384 97.9289 108.406 143.838 0 176.63V254H1920V0C1863.62 35.5602 1712.53 98.8233 1559.27 67.394C1406.01 35.9648 1206.33 86.6647 1125.65 115.943C1012.72 168.964 740.712 255.331 556.048 176.63Z" />
        </svg>
    </span>
    <div class="container position-relative pt-4 pt-md-0">
        <div class="row">
            <div class="col-md-7 col-lg-6 mb-5 mb-md-0">
                <h1 class="display-5 mb-3 mb-md-4">Smart Solutions with <span class="text-primary">AI</span></h1>
                <p class="lead mb-3 mb-md-4">Harness AI to unlock your business potential, streamline operations, and
                    drive growth.</p>
                <a class="btn btn-primary-grad icon-link icon-link-hover"  [routerLink]="[]">Get Started<i
                        class="bi bi-arrow-right"></i> </a>
            </div>
            <div class="col-md-5 ms-auto">
                <img src="assets/images/elements/ai-robot.png" class="aos" data-aos="fade-up" data-aos-delay="200"
                    data-aos-duration="500" data-aos-easing="ease-in-out" alt="AI-robot">
            </div>
        </div>
    </div>
</section>