<section class="bg-body position-relative overflow-hidden">
	<div class="bg-dark h-500px w-100 position-absolute top-0 start-0">
		<div class="position-absolute top-0 start-0 translate-middle">
			<img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-1 blur-8" alt="Grad shape">
		</div>
		<span class="position-absolute start-0 bottom-0">
			<svg class="fill-body" width="1920" height="99" viewBox="0 0 1920 99" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M0 93L1946 0V99H0V93Z" />
			</svg>
		</span>
	</div>

	<div class="container position-relative">
		<div class="row mb-4 mb-md-6">
			<div class="col-md-6">
				<h2 class="text-white mb-0">Mastering every step of our methodology</h2>
			</div>
		</div>
		<div class="bg-parallax position-relative h-400px h-xl-500px rounded-4 overflow-hidden" style="background:url(assets/images/about/05.jpg) no-repeat; background-size:cover; background-position:center;" ngJarallax data-jarallax data-speed="0.6">
			<div class="bg-overlay bg-purple opacity-1"></div>
			<lightgallery [settings]="setting" class="position-absolute top-50 start-50 translate-middle z-index-2">
				<a data-gallery="office-tour" href="https://www.youtube.com/embed/tXHviS-4ygo" class="btn btn-icon btn-xl btn-white btn-round mb-0" data-gallery="Video"><i class="bi bi-play-fill fa-lg"></i></a>
			</lightgallery>
		</div>

		<div class="inner-container-small bg-body shadow-primary rounded-3 text-center py-3 mt-5">
			<p class="mb-0 px-2 px-sm-5 px-md-0">🚀 Need any help or questions, don't worry!
				<a routerLink="/contact-us-v2" class="fw-semibold heading-color hover-underline-animation">Hit the button</a>
			</p>
		</div>
	</div>
</section>

