
<section class="py-0 mb-n9">
    <div class="container">
        <lightgallery [settings]="setting" class="row g-4 g-lg-5">
            
            @for (item of images; track $index) {
            <div class="col-6 col-md-4">
                <a [href]="item.src" data-glightbox data-gallery="image-popup">
                    <img [src]="item.src" class="rounded" alt="portfolio-img">
                </a>
            </div>
            }
            <div class="col-12">
                <div class="bg-parallax rounded h-400px h-xl-500px overflow-hidden" ngJarallax data-jarallax
                    data-speed="0.6"
                    style="background:url(assets/images/portfolio/04.jpg) no-repeat; background-size:cover; background-position:center;">
                </div>
            </div>
        </lightgallery>
    </div>
</section>