<section class="bg-secondary overflow-hidden pt-0">
    <div class="container inner-container">
        <div class="row g-4 g-lg-6">
            @for (item of blogs; track $index) {

            <div class="col-md-6">
                <article class="card card-img-scale bg-transparent overflow-hidden h-100 p-0">

                    <div class="d-flex gap-2 position-absolute top-0 start-0 z-index-2 m-4">
                        <span class="badge bg-dark">{{item.category}}</span>
                        <span class="badge bg-white text-dark">{{item.date}}</span>
                    </div>


                    <div class="card-img-scale-wrapper rounded-4">
                        <img [src]="item.image" class="rounded-4 img-scale" alt="Blog-img">
                    </div>


                    <div class="card-body px-2">

                        <h6 class="card-title mb-2"><a  [routerLink]="[]">{{item.title}}</a></h6>
                        <a class="icon-link icon-link-hover stretched-link" routerLink="/blog-single">Read more<i class="bi bi-arrow-right"></i> </a>
                    </div>
                </article>
            </div>
            }

            <div class="col-12">
                <article class="card card-img-scale bg-transparent overflow-hidden h-100 p-0">
                    <div class="card-img-scale-wrapper rounded-4">
                        <div class="ratio ratio-16x9">
                            <iframe src="https://www.youtube.com/embed/9No-FiEInLA" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
                        </div>
                    </div>


                    <div class="card-body px-2">

                        <div class="d-flex gap-2 z-index-2 mb-2">
                            <span class="badge bg-dark">Technology</span>
                            <span class="badge bg-white text-dark">June 28, 2024</span>
                        </div>

                        <h6 class="card-title mb-2"><a  [routerLink]="[]">10 things you need to know about
                                Folio</a></h6>
                        <a class="icon-link icon-link-hover" routerLink="/blog-single">Read more<i class="bi bi-arrow-right"></i> </a>
                    </div>
                </article>
            </div>
            @for (item of blogs2; track $index) {

            <div class="col-md-6">
                <article class="card card-img-scale bg-transparent overflow-hidden h-100 p-0">

                    <div class="d-flex gap-2 position-absolute top-0 start-0 z-index-2 m-4">
                        <span class="badge bg-dark">{{item.category}}</span>
                        <span class="badge bg-white text-dark">{{item.date}}</span>
                    </div>


                    <div class="card-img-scale-wrapper rounded-4">
                        <img [src]="item.image" class="rounded-4 img-scale" alt="Blog-img">
                    </div>


                    <div class="card-body px-2">

                        <h6 class="card-title mb-2"><a  [routerLink]="[]">{{item.title}}</a></h6>
                        <a class="icon-link icon-link-hover stretched-link" [routerLink]="'/blog-single'">Read more<i class="bi bi-arrow-right"></i> </a>
                    </div>
                </article>
            </div>
            }

            <div class="col-12">
                <nav aria-label="Page navigation">
                    <ngb-pagination class="pagination pagination-primary-grad d-flex justify-content-center" [(page)]="page" [pageSize]="1" [collectionSize]="4" [maxSize]="2" [directionLinks]="true">
                        <ng-template ngbPaginationPrevious>
                            <i class="bi bi-chevron-left mx-n1 rtl-flip"></i>
                        </ng-template>
                        <ng-template ngbPaginationNext>
                            <i class="bi bi-chevron-right mx-n1 rtl-flip"></i>
                        </ng-template>
                    </ngb-pagination>
                </nav>
            </div>

            <div class="col-12">
                <div class="bg-body position-relative rounded-3 overflow-hidden p-4 p-sm-6">

                    <div class="position-absolute end-0 top-0 rotate-343 mt-n5 me-n8">
                        <img src="assets/images/elements/grad-shape/05.png" class="h-200px h-sm-300px" alt="bg pattern">
                    </div>
                    <div class="position-absolute start-0 top-0 rotate-343 mt-n5 ms-n6">
                        <img src="assets/images/elements/grad-shape/11.png" class="h-200px blur-2" alt="bg pattern">
                    </div>

                    <div class="position-relative text-center">
                        <h3 class="fw-bold mb-4">Subscribe to new<span class="text-primary-grad"> updates</span></h3>

                        <form class="row g-2 align-items-center justify-content-center">
                            <div class="col-auto col-md-8 col-lg-6">
                                <input type="email" class="form-control form-control-lg bg-secondary" placeholder="Enter your email address">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-lg btn-dark m-0">Subscribe!</button>
                            </div>

                            <p class="small mt-2">✌️ No Spam — We Promise!</p>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>