<section class="position-relative pt-3">
	<div class="container">
		<ul class="nav nav-underline justify-content-center gap-sm-5 mb-4 mb-sm-6">
			<li class="nav-item">
				<a class="nav-link  active" aria-current="page"  [routerLink]="[]" (click)="filterIntegrations('All')">All</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  [routerLink]="[]" (click)="filterIntegrations('UI/UX design')">UI/UX design</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  [routerLink]="[]" (click)="filterIntegrations('SEO')">SEO</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  [routerLink]="[]" (click)="filterIntegrations('Logo design')">Logo design</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  [routerLink]="[]" (click)="filterIntegrations('Development')">Development</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  [routerLink]="[]" (click)="filterIntegrations('Packaging')">Packaging</a>
			</li>
			<li class="nav-item">
				<a class="nav-link"  [routerLink]="[]" (click)="filterIntegrations('Animation')">Animation</a>
			</li>
		</ul>

		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 g-lg-5 mb-5">
			@for (item of portfolio; track $index) {
			<div class="col">
				<div class="card card-img-scale card-content-hover overflow-hidden rounded-4">
					<div class="card-img-scale-wrapper">

						<div class="hover-content bg-blur bg-dark bg-opacity-10 p-4">

							<div class="z-index-2 mt-auto">
								<h6 class="mb-1 text-white">{{item.title}}</h6>
								<small class="text-white">{{item.category}}</small>
							</div>
						</div>

						<a [routerLink]="item.link" class="stretched-link"><img [src]="item.image" class="img-scale" alt="portfolio-img"></a>
					</div>
				</div>
			</div>
			}
		</div>
			 <nav aria-label="Page navigation">
                    <ngb-pagination class="pagination pagination-primary-grad d-flex justify-content-center" [(page)]="page" [pageSize]="1" [collectionSize]="4" [maxSize]="2" [directionLinks]="true">
                        <ng-template ngbPaginationPrevious>
                            <i class="bi bi-chevron-left mx-n1 rtl-flip"></i>
                        </ng-template>
                        <ng-template ngbPaginationNext>
                            <i class="bi bi-chevron-right mx-n1 rtl-flip"></i>
                        </ng-template>
                    </ngb-pagination>
                </nav>
		
	</div>
</section>