<section class="position-relative py-0">
	<div class="position-absolute top-100 start-0 translate-middle ms-9 mt-n8 z-index-9 d-none d-lg-block">
		<img src="assets/images/elements/ai-robot-3.png" class="aos" data-aos="fade-up" data-aos-delay="100" data-aos-duration="800" data-aos-easing="ease-in-out" alt="ai robot">
	</div>

	<div class="bg-secondary-grad position-relative overflow-hidden py-6 py-md-8">
		<span class="position-absolute top-0 start-0 mt-n5">
			<svg class="fill-body" width="1930" height="137" viewBox="0 0 1930 137" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M464.909 117.12C228.685 132.607 108.971 82.5335 0 51.0476V1.5L1930 0V26.649V132.607C1873.32 98.4636 1645.24 119.618 1488.21 132.607C1319.34 146.576 1149.46 119.696 1051.95 103.318C837.339 67.2694 668.231 103.79 464.909 117.12Z" />
			</svg>
		</span>

		<div class="container ps-lg-6 pt-6">
			<div class="row g-4 align-items-center">
				<div class="col-lg-9 col-xxl-4">
					<h2 class="text-center text-sm-start">Our prestigious awards</h2>
				</div>
				<div class="col-lg-9 col-xxl-8 d-sm-flex justify-content-sm-between ms-auto">
					<div class="card card-body bg-transparent text-center m-auto" style="max-width: 15rem;">
						<div class="d-flex align-items-center mb-3">
							<img src="assets/images/elements/wing-1.svg" class="rtl-flip" alt="award wing">
							<ul class="list-group list-group-borderless align-items-center">
								<li class="list-group-item fw-semibold heading-color d-flex pb-0">Best Website Award</li>
								<li class="list-group-item fw-semibold text-primary d-flex pb-0">2023</li>
							</ul>
							<img src="assets/images/elements/wing-2.svg" class="rtl-flip" alt="award wing">
						</div>
						<span class="fw-semibold opacity-6">Accordion to</span>
						<img src="assets/images/elements/clutch.svg" class="h-30px mt-2" alt="logo">
					</div>
					<div class="card card-body bg-transparent text-center m-auto" style="max-width: 15rem;">
						<div class="d-flex align-items-center mb-3">
							<img src="assets/images/elements/wing-1.svg" class="rtl-flip" alt="award wing">
							<ul class="list-group list-group-borderless align-items-center">
								<li class="list-group-item fw-semibold heading-color d-flex pb-0">Digital Vanguard Award</li>
								<li class="list-group-item fw-semibold text-primary d-flex pb-0">2022</li>
							</ul>
							<img src="assets/images/elements/wing-2.svg" class="rtl-flip" alt="award wing">
						</div>


						<span class="fw-semibold opacity-6">Accordion to</span>
						<img src="assets/images/elements/fwa.svg" class="h-30px mt-2" alt="logo">
					</div>

					<div class="card card-body bg-transparent text-center m-auto" style="max-width: 15rem;">

						<div class="d-flex align-items-center mb-3">
							<img src="assets/images/elements/wing-1.svg" class="rtl-flip" alt="award wing">
							<ul class="list-group list-group-borderless align-items-center">
								<li class="list-group-item fw-semibold heading-color d-flex pb-0">Website of the day</li>
								<li class="list-group-item fw-semibold text-primary d-flex pb-0">2021</li>
							</ul>
							<img src="assets/images/elements/wing-2.svg" class="rtl-flip" alt="award wing">
						</div>

						<span class="fw-semibold opacity-6">Accordion to</span>
						<img src="assets/images/elements/dribbble.svg" class="h-30px mt-2" alt="logo">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>