<section class="bg-secondary position-relative overflow-hidden pt-xl-8">

	<div class="position-absolute start-0 top-0">
		<img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-3 blur-9 h-300px rotate-335" alt="Grad shape">
	</div>

	<div class="position-absolute end-0 top-0">
		<img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-2 blur-8 h-300px rotate-335" alt="Grad shape">
	</div>
	<div class="container inner-container position-relative pt-4 pt-sm-5">
		<nav class="mb-2 d-flex justify-content-center" aria-label="breadcrumb">
			<ol class="breadcrumb pt-0">
				<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Blog Minimal</li>
			</ol>
		</nav>
		<h1 class="fw-bold text-center mb-2">Hey,<span class="hand-wave-animate">🖐️</span> we’re <span class="text-primary-grad">Folio</span></h1>
		<h2 class="fs-1 text-center">Explore our stories, thoughts, and ideas.</h2>
		<div class="col-md-8 mx-auto bg-body shadow-primary rounded-pill position-relative z-index-2 p-1 mt-5">
			<form class="input-group align-items-center">
				<input class="form-control bg-transparent border-0 me-1" type="email" placeholder="Search.....">
				<button type="button" class="btn btn-dark btn-round rounded-circle lh-1 mb-0 me-2"><i class="bi bi-search"></i></button>
			</form>
		</div>
	</div>
</section>