
<section class="bg-dark position-relative overflow-hidden pt-xl-8 pb-sm-7" data-bs-theme="dark">
	
	
	<div class="position-absolute top-0 start-0 mt-n9 ms-n5">
		<img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-7 opacity-2" alt="Grad shape">
	</div>

	
	<div class="position-absolute top-0 start-50 mt-n9 ms-n9">
		<img src="assets/images/elements/grad-shape/blur-decoration.svg" class="blur-8 opacity-1" alt="Grad shape">
	</div>
	
	
	<div class="container position-relative pt-4 pt-sm-5">
		<div class="row g-4 align-items-center">
			
			<div class="col-md-7 col-xl-5">
				
				<a  [routerLink]="[]" class="text-body-secondary text-primary-hover icon-link icon-link-hover"><i class="bi bi-arrow-left me-1"></i>Back to listing</a>
				
				<h1 class="h2 mt-3 mb-0">Machine Learning Specialist</h1>
			</div>

			<div class="col-md-4 ms-auto text-md-end">
				
				<a class="btn btn-success icon-link icon-link-hover"  [routerLink]="[]" data-bs-toggle="modal" data-bs-target="#applyForm">Apply now<i class="bi bi-arrow-right"></i> </a>
			</div>
		</div>
	</div>
</section>
