<section class="pt-0">
	<div class="container">
		<div class="row g-4 g-sm-5">
			<div class="col-lg-5">

				<h2 class="mb-3">Our lifetime achievements</h2>
				<p class="mb-0">Join our team Creative Agency Specializing in: Video Production, Web Design, Branding, Brand Strategy.</p>
				<div class="row mt-4 mt-lg-6">

					<div class="col-sm-5 mb-3 mb-sm-0">
						<div class="border-2 border-start border-purple border-opacity-50 ps-3">
							<div class="d-flex mb-1">
								<h3 class="purecounter mb-0" data-purecounter-start="0" [countUp]="80" data-purecounter-delay="300">0</h3>
								<span class="h3 text-primary mb-0">+</span>
							</div>
							<p class="mb-0">Total employees</p>
						</div>
					</div>


					<div class="col-sm-5">
						<div class="border-2 border-start border-purple border-opacity-50 ps-3">
							<div class="d-flex mb-1">
								<h3 class="purecounter mb-0" data-purecounter-start="0" [countUp]="12" data-purecounter-delay="300">0</h3>
								<span class="h3 text-primary mb-0">+</span>
							</div>
							<p class="mb-0">Total awards</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-7 col-xl-6 ms-auto">
				<div class="card card-body overflow-hidden p-0">
					<img src="assets/images/team/video-bg.jpg" class="card-img" alt="about-img">
					<div class="bg-overlay bg-dark opacity-2"></div>
					<div class="position-absolute end-0 bottom-0 m-3 z-index-2">
						<lightgallery [settings]="setting" class="d-inline-block">
							<a class="btn btn-sm btn-white gallery-item" href="https://www.youtube.com/embed/tXHviS-4ygo" data-lg-size="1280-720">
								<i class="bi bi-youtube text-danger fa-fw fa-xl me-1"></i>
								Watch our story
							</a>
						</lightgallery>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>