
<section class="position-relative pt-8 pt-xl-9 overflow-hidden">
	
	<div class="position-absolute end-0 top-0">
		<img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-1 blur-8 h-300px rotate-335" alt="Grad shape">
	</div>
	
	<div class="position-absolute start-0 top-0">
		<img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-2 blur-9 h-300px rotate-335" alt="Grad shape">
	</div>
	<div class="position-absolute top-0 start-0">
		<img src="assets/images/elements/bg-pattern.svg" style="opacity: 0.05;" alt="bg pattern">
	</div>

	<div class="container position-relative">
		
		<div class="row">     
			<div class="col-md-7 mx-auto text-center">
				<h1 class="mb-4">Meet our experts</h1>
				<p class="mb-0">Our dedicated team is passionate about delivering exceptional results that exceed your expectations.</p>
			</div>
		</div>
	</div>
</section>

