
<section class="position-relative overflow-hidden">
    <div class="container">
        <div class="inner-container-small text-center">
            <h2 class="mb-4">Discover the latest in <span class=text-primary>watch</span> innovation</h2>
            <p class="mb-4">Subscribe to our newsletter for updates on new arrivals, exclusive offers, and special
                events.</p>
            <div class="bg-body rounded-2 position-relative z-index-2 p-2">
                <form class="input-group">
                    <input class="form-control bg-transparent border-0 me-1" type="email"
                        placeholder="Enter your email address">
                    <button type="button" class="btn btn-dark rounded-2 mb-0">Subscribe!</button>
                </form>
            </div>
            <div class="form-text mt-3">✌️ No Spam — We Promise!</div>
        </div>
    </div>

    <div class="bg-blur-grad opacity-3 position-absolute top-100 start-50 translate-middle mt-n7"></div>
</section>