
<section>
	<div class="container position-relative">
		<div class="position-absolute bottom-0 start-50 translate-middle-x mb-8">
			<img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-2 blur-9" alt="Grad shape">
		</div>
		<div class="row position-relative z-index-2">
			<div class="col-md-8 mx-auto text-center">
				<h2 class="mb-4">Maximize efficiency with seamless <span class="text-primary">Integrations</span></h2>
				<p class="mb-4">Our robust integration capabilities ensure your data flows smoothly across systems, empowering you to streamline operations and boost productivity</p>
				<a routerLink="/integrations" class="btn btn-primary-grad icon-link icon-link-hover">Explore all integrations<i class="bi bi-arrow-right"></i> </a>
			</div>
		</div>
		<div class="row row-cols-9 g-3 justify-content-sm-between position-relative z-index-2 mt-4 mt-sm-7">
			<div class="col d-none d-lg-flex justify-content-start mt-n8">
				<div class="icon-md card rounded-circle shadow-primary justify-content-center">
					<img src="assets/images/client/icons/07.svg" class="h-20px" alt="client icon">
				</div>
			</div>

			<div class="col d-none d-md-flex justify-content-start mt-n6">
				<div class="icon-lg card rounded-circle shadow-primary justify-content-center">
					<img src="assets/images/client/icons/01.svg" class="h-30px" alt="client icon">
				</div>
			</div>

			<div class="col d-none d-sm-flex justify-content-start mt-n4">
				<div class="icon-lg card rounded-circle shadow-primary justify-content-center">
					<img src="assets/images/client/icons/04.svg" class="h-30px" alt="client icon">
				</div>
			</div>

			<div class="col d-flex justify-content-start">
				<div class="icon-xl card rounded-circle shadow-primary justify-content-center">
					<img src="assets/images/client/icons/10.svg" class="h-40px" alt="client icon">
				</div>
			</div>

			<div class="col d-flex">
				<div class="icon-xxl card rounded-circle shadow-primary justify-content-center">
					<img src="assets/images/logo-icon.svg" class="h-50px" alt="client icon">
				</div>
			</div>

			<div class="col d-flex justify-content-end">
				<div class="icon-xl card rounded-circle shadow-primary justify-content-center">
					<img src="assets/images/client/icons/12.svg" class="h-40px" alt="client icon">
				</div>
			</div>

			<div class="col d-none d-sm-flex justify-content-end mt-n4">
				<div class="icon-lg card rounded-circle shadow-primary justify-content-center">
					<img src="assets/images/client/icons/09.svg" class="h-30px" alt="client icon">
				</div>
			</div>

			<div class="col d-none d-md-flex justify-content-end mt-n6">
				<div class="icon-lg card rounded-circle shadow-primary justify-content-center">
					<img src="assets/images/client/icons/11.svg" class="h-30px" alt="client icon">
				</div>
			</div>

			<div class="col d-none d-lg-flex justify-content-end mt-n8">
				<div class="icon-md card rounded-circle shadow-primary justify-content-center">
					<img src="assets/images/client/icons/05.svg" class="h-20px" alt="client icon">
				</div>
			</div>
		</div>

		<div class="bg-secondary rounded-4 d-xl-flex align-items-center text-center position-relative z-index-2 p-4 mt-7">
			<ul class="avatar-group align-items-center justify-content-center mb-2 mb-xl-0">
				<li class="avatar">
					<img class="avatar-img rounded-circle" src="assets/images/avatar/02.jpg" alt="avatar">
				</li>
				<li class="avatar">
					<img class="avatar-img rounded-circle" src="assets/images/avatar/05.jpg" alt="avatar">
				</li>
				<li class="avatar">
					<img class="avatar-img rounded-circle" src="assets/images/avatar/10.jpg" alt="avatar">
				</li>
				<li class="avatar">
					<img class="avatar-img rounded-circle" src="assets/images/avatar/09.jpg" alt="avatar">
				</li>
			</ul>
			<p class="heading-color lead mb-2 mb-xl-0 ms-xl-3">Join over 15M+ users transforming ideas</p>
			<p class="heading-color lead mb-2 mb-xl-0 ms-auto"><a routerLink="/auth/sign-up" class="hover-underline-animation">Create an account</a> and kickstart your business</p>
		</div>
	</div>
</section>