<section class="bg-secondary-grad position-relative overflow-hidden">

    <div class="position-absolute bottom-0 start-0 mb-n9 d-none d-sm-block">
        <img src="assets/images/elements/grad-shape/10.png" class="rotate-270 h-500px h-lg-700px" alt="decoration shape">
    </div>

    <div class="container position-relative">
        <div class="row g-4">

            <div class="col-lg-5">
                <h2 class="mb-3">Let's level up your brand, together</h2>
                <p>Reach us anytime at <a  [routerLink]="[]">example&#64;gmail.com</a></p>
            </div>

            <div class="col-lg-6 ms-auto">
                <form class="row form-border-transparent g-3">
                    <div class="col-md-6">
                        <label class="form-label">Your name</label>
                        <input type="text" class="form-control" placeholder="Full name" required>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" id="floatingInput" placeholder="name&#64;example.com" required>
                    </div>       

                    <div class="col-12">
                        <label class="form-label">Subject</label>
                        <input type="text" class="form-control" placeholder="Subject name" required>
                    </div>

                    <div class="col-12">
                        <label class="form-label">Message</label>
                        <textarea class="form-control" placeholder="Write your message here...." id="floatingTextarea2" style="height: 150px" required></textarea>
                    </div>

                    <div class="col-12 d-xl-flex align-items-center gap-3 mt-4">

                        <button class="btn btn-primary text-nowrap mb-2 mb-xl-0">Send a message</button>

                        <div class="form-check">
                            <input type="checkbox" class="form-check-input border" id="exampleCheck1" required>
                            <label class="form-check-label" for="exampleCheck1">I agree that my data is <a  [routerLink]="[]" class=" hover-underline-animation text-primary-hover">collected and
                                    stored</a>.</label>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>