
<section class="position-relative pt-8 pt-xl-9 pb-0 overflow-visible mb-n6">

	<div class="bg-secondary-grad h-500px w-100 position-absolute bottom-0 start-0">
		
		<span>
			<svg class="mt-n2" viewBox="0 0 1950 135" style="enable-background:new 0 0 1950 135;" xml:space="preserve">
				<path class="fill-body" d="M1480.3,110.5c238.7,18.9,359.6-42.2,469.7-80.7V1.7L0,0v129.4c57.3-41.7,287.7-15.9,446.4,0 c170.6,17.1,342.3-15.8,440.8-35.8C1104,49.6,1274.8,94.2,1480.3,110.5z"/>
			</svg>
		</span>
	</div>

	<div class="container position-relative" #boundary data-sticky-container>
		<div class="row">
			
			<div class="col-md-6">
				
				<nav class="mb-2" aria-label="breadcrumb">
					<ol class="breadcrumb pt-0">
						<li class="breadcrumb-item"><a routerLink="/">Home</a></li>
						<li class="breadcrumb-item"><a  [routerLink]="[]">services</a></li>
						<li class="breadcrumb-item active" aria-current="page">service detail</li>
					</ol>
				</nav>

				
				<h1 class="display-5 mb-5">Web design and development</h1>

				
				<a class="btn btn-dark icon-link icon-link-hover"  [routerLink]="[]">Start a project<i class="bi bi-arrow-right"></i> </a>

				<div class="mt-5 mt-md-9">
					<h5>Overview</h5>
					<p>A brief introduction to your web development services. This can be a few sentences summarizing what you do and the unique value you bring to clients.</p>
					<p>At Folio, we specialize in creating custom web solutions that drive business growth. Our expert team delivers cutting-edge websites tailored to meet your unique needs. Highlight the main benefits of your web development services. This helps visitors quickly understand why they should choose you over competitors.</p>
					<p>Highlight the main benefits of your web development services. This helps visitors quickly understand why they should choose you over competitors.</p>
				</div>
			</div>

			
			<div class="col-md-5 ms-auto">
				<div data-sticky data-margin-top="100" data-sticky-for="576" data-sticky [marginTop]="100" [boundary]="boundary" data-sticky-for="992" stickyThing >
					<div class="rounded-4 h-400px h-lg-500px" style="background:url(assets/images/services/4by3/03.jpg) no-repeat; background-size:cover; background-position:center;"></div>
				</div>
			</div>
		</div>
	</div>
</section>