
<section class="bg-dark position-relative overflow-hidden pt-xl-8" data-bs-theme="dark">
	<div class="position-absolute bottom-0 end-0 mb-n9">
		<img src="assets/images/elements/grad-shape/blur-decoration-2.svg" class="opacity-2 blur-9" alt="Grad shape">
	</div>	
	<div class="container position-relative pt-4 pt-sm-5">
		<span class="h2">👋</span>
		<h1 class="display-5 mt-3">Let's Connect</h1>
		<p class="mb-1">We’re here to help </p>
		<p>Support hours: <span class="text-primary fw-bold">24/7</span></p>
	</div>
</section>