<section class="pt-sm-7">
	<div class="container" #boundary>
		<div class="row g-4">
			<div class="col-md-7 order-2">
				<p class="lead heading-color">{{ intro.greeting }}</p>
				@for (p of intro.paragraphs; track $index) {
				<p>{{ p }}</p>
				}

				<h6 class="mt-5 mb-3">Principal responsibilities</h6>
				<ul class="ps-3">
					@for (item of responsibilities; track item.title) {
					<li class="mb-2"><b>{{ item.title }}</b> {{ item.desc }}</li>
					}
				</ul>
				<h6 class="mt-5 mb-3">Qualifications</h6>
				<ul class="ps-3">
					@for (item of qualifications; track item.title) {
					<li class="mb-2"><b>{{ item.title }}</b> {{ item.desc }}</li>
					}
				</ul>
				@for (p of outro; track $index) {
				<p>{{ p }}</p>
				}

				<h6 class="mt-5 mb-3">What we offer</h6>
				<ul class="ps-3">
					@for (item of offers; track item.title) {
					<li class="mb-2"><b>{{ item.title }}</b> {{ item.desc }}</li>
					}
				</ul>

				<div class="bg-secondary bg-opacity-50 rounded-4 mt-5 p-4">
					<h6 class="mb-3">How to apply</h6>
					<p>If you are excited about the opportunity to make a significant impact through machine learning, we would love to hear from you! Click the link below to apply:</p>
					<a  [routerLink]="[]" class="btn btn-sm btn-success icon-link icon-link-hover mb-0" data-bs-toggle="modal" data-bs-target="#applyForm">
						Apply now <i class="bi bi-arrow-right"></i>
					</a>
				</div>
			</div>

			<div class="col-md-5 col-lg-4 ms-auto order-1 order-md-2">
				<div data-sticky data-margin-top="100" [marginTop]="100" stickyThing [boundary]="boundary" data-sticky-for="576">
					<div class="card bg-secondary bg-opacity-50">

						<div class="card-header border-bottom bg-transparent p-4">
							<p class="fw-semibold mb-3">Hiring manager:</p>
							<div class="avatar avatar-xl flex-shrink-0">
								<img class="avatar-img rounded-circle" src="assets/images/avatar/09.jpg" alt="avatar">
							</div>
							<div class="mt-3">
								<h6 class="mb-2">Jacqueline Miller</h6>
								<a  [routerLink]="[]" class="link-primary-grad icon-link icon-link-hover mb-0">View profile <i class="bi bi-arrow-right"></i></a>
							</div>
						</div>
						<div class="card-body p-4">
							<ul class="list-group list-group-borderless">
								<li class="list-group-item mb-2">
									<small>Application Deadline:</small>
									<p class="heading-color fw-semibold mt-1 mb-0">August 31, 2024</p>
								</li>

								<li class="list-group-item mb-2">
									<small>Department:</small>
									<p class="heading-color fw-semibold mt-1 mb-0">Information technology</p>
								</li>

								<li class="list-group-item mb-2">
									<small>Employment Type:</small>
									<p class="heading-color fw-semibold mt-1 mb-0">Full time</p>
								</li>

								<li class="list-group-item mb-2">
									<small>Location:</small>
									<p class="heading-color fw-semibold mt-1 mb-0">New york</p>
								</li>

								<li class="list-group-item mb-2">
									<small>Compensation:</small>
									<p class="heading-color fw-semibold mt-1 mb-0">$30,000 - $50,000 / year</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>