<section class="position-relative z-index-2 py-0" data-bs-theme="dark">
    <div class="container-fluid position-relative">
        <div class="max-width-1550 bg-dark position-relative rounded-4 overflow-hidden py-6 py-lg-8">
            <div class="position-absolute top-0 end-0 mt-n6">
                <img src="assets/images/elements/grad-shape/blur-decoration.svg" class="rotate-270 blur-8 opacity-2"
                    alt="Grad shape">
            </div>
            <div class="container inner-container-small text-center mb-7">
                <h2 class="mb-4">{{ title }}</h2>
                <p class="mb-4">{{ description }}</p>
                <div class="d-sm-flex justify-content-center">
                    <a  [routerLink]="[]">
                        <img src="assets/images/elements/google-play.svg" class="btn-transition me-sm-4 mb-2 mb-sm-0"
                            width="180" alt="play store">
                    </a>
                    <a  [routerLink]="[]">
                        <img src="assets/images/elements/app-store.svg" class="btn-transition" width="180"
                            alt="app-store">
                    </a>
                </div>
            </div>
            <div class="swiper swiper-outside-n5 pb-6 mx-3 mx-sm-0">
                <swiper-container  [config]="swiperFeature" init="false" class="swiper-wrapper align-items-center">
                    @for (image of images; track $index) {
                    <swipe-slide class="swiper-slide">
                        <img [src]="image" class="rounded-4 border border-secondary border-3" alt="mobile screen">
                    </swipe-slide>
                    }
                </swiper-container>
                <div id="swiper-pagination" class="swiper-pagination swiper-pagination-primary position-absolute bottom-0 mb-4"></div>
            </div>
        </div>
    </div>
</section>