<section class="bg-secondary-grad position-relative rounded-3 overflow-hidden py-6 py-sm-7">
    <div class="position-absolute end-0 top-0 rotate-13 mt-n5 me-n6 d-none d-sm-block">
        <img src="assets/images/elements/geo-grad-pattern.svg" class="h-600px opacity-3" alt="bg pattern">
    </div>
    <div class="position-absolute start-0 top-0 rotate-343 mt-n3 ms-n5 d-none d-xl-block">
        <img src="assets/images/elements/grad-shape/10.png" class="h-500px" alt="bg pattern">
    </div>

    <div class="container">
        <div class="row g-4 align-items-center position-relative">
            <div class="col-xl-6">
                <h2>Partner with our <span class="text-primary-grad">creative</span> team</h2>
                <p class="mb-0">Discover the difference a dedicated, creative, and strategic team can make for your
                    business. </p>
            </div>            
            <div class="col-xl-6 text-xl-end">
                <a  [routerLink]="[]" class="btn btn-dark mb-0">Schedule a consultation</a>
            </div>
        </div>
    </div>
</section>